<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842634316710-ilahp3qasvucr38fvmr6gv94qrib8r9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842634316710-ilahp3qasvucr38fvmr6gv94qrib8r9t</string>
	<key>API_KEY</key>
	<string>AIzaSyDWUogGsJfdW5t7YJqOXQ1vQxMq25dcc-s</string>
	<key>GCM_SENDER_ID</key>
	<string>842634316710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aboncoffee</string>
	<key>PROJECT_ID</key>
	<string>aboncoffee-b5602</string>
	<key>STORAGE_BUCKET</key>
	<string>aboncoffee-b5602.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842634316710:ios:f577375298d2a26ff59d67</string>
</dict>
</plist>